@import 'vuetify/lib/styles/settings/colors';
@import './base.scss';
@import "./leaflet.scss";

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

nav {
  margin: 0 !important;
  padding-top: 0 !important;
}

@media (max-width: 600px) {
  nav {
    width: 100% !important;
  }
}

@media (min-width: 1024px) {
  body {
    //display: flex;
    //place-items: center;
  }

  #app {
    //display: grid;
    //grid-template-columns: 1fr 4fr;
    //padding: 0;
  }
}
